@import ".\\includes\\variables.scss";
@import ".\\includes\\mixins.scss";

@import ".\\base.scss";

body {
    height: fit-content;

    .page-content {
        margin-top: 0.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

li {
    margin-bottom: 0.5rem;
}

code {
    background-color: $gray-700;
    padding: 0.25rem 0.4rem;
    border-radius: 0.25rem;
}