.page-content {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    column-gap: 2rem;

    @media (max-width: 1000px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
    }

    .board-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-grow: 1;

        .board {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: flex-start;
            height: fit-content;

            .board-line {
                display: flex;

                > span:first-child {
                    flex-grow: 1;

                    &.center {
                        text-align: center;
                    }
                }
            }

            @each $board-name, $board-map in $board-maps {
                &-#{$board-name} {
                    @include board-style-from-map($board-map);

                    .board-line {
                        @include board-lines-from-map(map-get($board-map, lines));
                    }

                    @each $style-name, $style-map in map-get($board-map, styles) {
                        &-#{$style-name} {
                            @include board-style-from-map($style-map);

                            .board-line {
                                @include board-lines-from-map(map-get($style-map, lines));
                            }
                        }
                    }

                }
            }
        }
    }

    .options-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;
        margin-top: auto;
        margin-bottom: auto;

        @media (max-width: 1000px) {
            margin-bottom: 4rem;
            margin-right: auto;
            margin-left: auto;
        }

        .options {

            .option-group {
                display: flex;
                flex-direction: column;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}